body {
    /*background: url(https://hullopallosa.files.wordpress.com/2017/06/back_left.png) no-repeat center center fixed; */
    background: url(../imagens/back_left.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

#main_tour_div {
    min-height: 100vh;
}

#top_row {
    top: 0;
}

#menu {
    z-index: 0;
}

#category_title_wapper {
    text-align: center;
    vertical-align: middle;
    margin: 40px 0px;
}

.tour-card{
    height: 250px;
    margin-bottom: 30px;    
}

.tour-card:hover{
    cursor: pointer;
}

.tour-card-background{
    position: relative;
    height: 100%;
    border-radius: 15px 50px;
    background: #dedcdc url(../imagens/back_left.png) no-repeat;
    background-size: cover;
    text-align: center; 
    overflow: hidden;   
}

.tour-card  img {
    /*height: 100%;*/
    max-width: 100%;
    position: relative;
    left: 100%; 
    margin-left: -200%;
}

.tour-card:hover  img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.tour-card > .brief-info{
    display: none;
    position: absolute;
    background-color: #5b2581;
    bottom :0;
    left: 0;
    right: 0;
    color: white;
    border-radius: 0px 0px 15px 50px;
    min-height: 43px;
    opacity: 0.9;
    margin: 0 15px;
    text-align: center;
    vertical-align: middle;
}

.tour-card > .brief-info > span{
    cursor: pointer;
}

.tour-card > .brief-info:hover{
    cursor: pointer;
}

#tour_info > *{
    opacity: 1;
}

.overlay{
    background-color: rgba(204, 204, 204, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index:1000;
    float: right;
    overflow-y: auto;
}

#return_btn{
    position: fixed;
    top: 50px;
    left: 50px;
    font-size: 25px;
    color:  #5b2581;
    cursor: pointer;

}

.tour-panel {
    position: relative;
    background-color: white;
    margin-top: 50px;
}

.tour-panel .tour-heading {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #5b2581;
    color: white;
}

.tour-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    font-family: Viga;
    font-size: 24px;
    font-weight: 500;
}

#media {
    margin-bottom: 40px;
}

#carouselBox{
    padding: 0;
    display: block;
}

.carousel-indicators li{
    margin: 2px; 
}

.carousel-indicators .active{
    margin: 1px; 
}

.carousel-inner img {
    height: 450px !important;
    width: 100%;
    object-fit: cover;
}

.tour-panel .panel-body {
    position: relative;
    overflow: hidden;
}

/*.tour-left {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    width: 250px;
    margin: 15px 0;
    border-right: 3px solid #5b2581;
}

.tour-right { 
    margin: 0 0 0 250px;
    width: auto;
}

.duration-left {
    font-family: Ubuntu;
    text-align: center;
}*/

.tour-inner {
    margin: 20px 20px 15px;
    color: grey;
}

.title {
    margin-left: -5%;
}

.title strong{
    font-family: Ubuntu;
    font-weight: 500;
    margin-left: 5px;
}

.description {
    margin: 5px 10px;

}

.no-scroll {
    overflow: hidden;
}

#reserve_btn {
    margin-right: 16%;
    margin-bottom: 25px;
    color: white;
    background-color: #5b2581;
    padding: 10px 30px;
    border-radius: 0;
}

#reserve_btn span{
    margin-right: 10px;
}

#reserve_btn:hover, 
#reserve_btn.active {
    background-color: plum;
    color: white;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

#reserve_btn:focus,
#reserve_btn:hover, 
#reserve_btn:active, 
#reserve_btn.active{
    outline: unset;
}

#reservation_form{
    margin-top: 20px;
    background-color: rgba(204, 204, 204, 0.95);
}

#reservation_form input{
    width: 100%;
}

#reservation_form textarea{
    height: 100px;
}

.reservation-form-left{
    margin-left: -15px;
    padding-left: 15px;
}

#reservation_tour{
    background-color: rgba(0, 0, 0, 0.26);
    color: white;
}

#reservation_send{
    margin-top: 60px;
    margin-right: 22px;
}
