* {
    border: black solid 1px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.start {
	background-image: url(https://hullopallosa.files.wordpress.com/2017/05/start.png);
    width: 100vh;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 5%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100vh;
}

.quadrado {
    padding: 5% 0% 5% 10%;
	width: 40%;
	height: 40%;
    background: -moz-linear-gradient(left, #5b2581 0%, #831f82 100%);
    background: linear-gradient(to right, #5b2581 0%,#831f82 100%);
    background-blend-mode: multiply;
}

.cover {
	font-family: Viga;
    font-style: regular;
    font-size: 16px;
	color: white;
    max-width: 52%;
    text-align: center;
    align-self: center;
}

.menu {
	background: linear-gradient(to right, #5b2581 0%,#831f82 100%);
    background: -moz-linear-gradient(left, #5b2581 0%, #831f82 100%);
    width: 100%;
    
}

.conteudo {
	font-family: Ubuntu;
	font-size: 15px;
	font-style: medium;
	padding: 0% 1% 0% 1%;
    color: white;
}

.navigate li {
	list-style-type: none;
	text-align: left;
	display: inline;
	margin-right: 25px;
}

#idioma {
    margin-left: 48%;
	text-align: right;
    align-items: center;
}