* {
    border: black solid 1px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Viga;
    color: #5b2581;
}

p {
    font-family: Ubuntu;
    color: gray;
    font-size: 15px;
    font-style: regular;
}

#start {
	background-image: url(https://hullopallosa.files.wordpress.com/2017/05/start.png);
    width: 100vh;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 37%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: auto;
}

#quadrado {
    padding: 5% 10% 5% 10%;
	width: 65%;
	height: 40%;
    background: -moz-linear-gradient(left, #5b2581 0%, #831f82 100%);
    background: linear-gradient(to right, #5b2581 0%,#831f82 100%);
    background-blend-mode: multiply;
    background-blend-mode: -moz-multiply;
    text-align: center;
}

#cover {
	font-family: Viga;
    font-style: regular;
    font-size: 18px;
	color: white;
    max-width: 52%;
    text-align: center;
}

#menu {
	background: linear-gradient(to bottom, #5b2581 0%,#831f82 100%);
    background: -moz-linear-gradient(top, #5b2581 0%, #831f82 100%);
    width: 100%;
    
}

#conteudo {
	font-family: Ubuntu;
	font-size: 18px;
	font-style: medium;
	padding: 0% 1% 0% 1%;
    color: white;
}

#navigate li {
	list-style-type: none;
	text-align: left;
	display: inline;
	margin-right: 10px;
}

#idioma {
    margin-left: 48%;
	text-align: right;
    align-items: center;
}

#BuenosAires {
    background-image: url(https://hullopallosa.files.wordpress.com/2017/06/back_left.png);
    width: 100%;
    padding-right: 42%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.texto {
    padding-bottom: 10%;
    padding-left: 5%;
    padding-top: 10%;
    padding-right: 10%;
}

.imagem {
    padding: 0;
    margin: 10% 5% 10% 10%;
}