<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gabriel Caê C Bounous">
    
    <title>TOUR F Buenos Aires</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,700|Ubuntu:400,500,700|Viga" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/tourF.css" rel="stylesheet" type="text/css">
    
</head>

<body>
    <div id="background">

        <div id="holder">           
            <div id="quadrado">
                <div id="cover">
                    <img src="../imagens/logo.png">
                    <h2 id='cover_slogan'>¡Viví lo mejor <br/> de la ciudad!</h2>
                </div>
            </div>
        </div>

    </div>        

    <div class="col-md-12" id="menu">
        <ul id="texto_menu">
            <li><a id="logo_home" href="#"><img src="../imagens/logo_small.png"></a></li>
            <li><a id="menu_buenos_aires" href="#buenosAires">Vení a Buenos Aires</a></li>
            <li><a id="menu_tours" href="#paseosMain">Tours y Paseos</a></li>
            <li><a id="menu_presentation" href="#viajeros">Quién Somos</a></li>
            <li><a id="menu_contact" href="#contato">Contacto</a></li>
            <li id="idioma">
                <span>
                    <a href="javascript:;" data-lang="es" class="selected lang"><img src="../imagens/flag_AR.png"></a>
                    <a href="javascript:;" data-lang="en" class="lang"><img src="../imagens/flag_EUA.png"></a>
                    <a href="javascript:;" data-lang="fr" class="lang" style="display:none;"><img src="../imagens/flag_FR.png"></a>
                </span>
            </li>
        </ul>
    </div>

    <div id="buenosAires" class="row">
        <div class="col-md-7" id="texto_BA">
            <h1 id="buenos_aires_title">Una ciudad, mil encantos</h1>
            <div id="buenos_aires_content">
                <p>Si quieres descubrir las orígenes del tango durante una cena-show en un lugar histórico, sentir la pasión que conquista a los hinchas las noches de partido en la Bombonera, descubrir los bares secretos de Buenos Aires, aprender a cocinar empanadas, alquilar un bote a pedal al atardecer en el bosque de Palermo, probar una de las numerosas cervezas artesanales argentinas, saborear un fernet con coca en un bar de Palermo antes de salir a un boliche a bailar, ver un concierto en la calle los domingos en el mercado de San Telmo, bailar tango en una de las 150 milongas de la ciudad, descubrir los edifícios de estilo francés de 8 pisos en Recoleta, viajar en el tiempo recorriendo los túneles sobre tierra en San Telmo, buscar el mausoleo de Eva Perón en el cementerio de Recoleta, ir al concierto de Fuerza Bruta, observar los ejecutivos atravesando Puerto Madero en taxi lancha al final del día, probar un vino argentino acompañado de tapas, etc...</p>
                <p>Buenos Aires te encantará.</p>
            </div>
        </div>
        <div class="col-md-4" id="imagem_BA">
            <img src="../imagens/ba.png" width="528" height="459">
        </div>
    </div>
    
    <div id="paseosMain" class="row">
        <h1 id="tours_title">Nuestros tours y paseos</h1>
        <div id="paseos">
            <div class="row">
                <!-- <div class="left"> -->
                    <div  class="tour-img-wrapper img_grande left">
                        <a href="./paseo.html" data-tour="city_tour"><img src="../imagens/city_tour.png"></a>
                        <span class="tour-img-text upper-left">City Tour</span>
                    </div>
                <!-- </div> -->
                <div>
                    <div class="tour-img-wrapper img_pequena right">
                        <a  href="./paseo.html" data-tour="countryside"><img src="../imagens/campo.png"></a>
                        <span class="tour-img-text lower-left">Día de Campo</span>
                    </div>
                    <div class="tour-img-wrapper img_pequena right">
                        <a href="./paseo.html" data-tour="delta_del_tigre"><img src="../imagens/tigre.png"></a>
                        <span class="tour-img-text lower-right">Delta del Tigre</span>
                    </div>
                </div>
                <div>
                    <div class="tour-img-wrapper img_pequena right">
                        <a href="./paseo.html" data-tour="empanadas"><img src="../imagens/empanadas.jpg"></a>
                        <span class="tour-img-text upper-right">Taller de Empanadas</span>
                    </div>
                    <div class="tour-img-wrapper img_pequena right">
                        <a href="./paseo.html" data-tour="tango_class"><img src="../imagens/tango_class.png"></a>
                        <span class="tour-img-text upper-left">Classes de Tango</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="right">
                    <div class="tour-img-wrapper img_grande">
                        <a href="./paseo.html" data-tour="tango_show"><img src="../imagens/tango_show.png"></a>
                        <span class="tour-img-text lower-left">Tango Show</span>
                    </div>
                </div>
                <div>
                    <div class="tour-img-wrapper img_pequena left">
                        <a href="./paseo.html" data-tour="uruguay"><img src="../imagens/uruguay.png"></a>
                        <span class="tour-img-text upper-left">Uruguay</span>
                    </div>
                    <div class="tour-img-wrapper img_pequena left">
                        <a href="./paseo.html" data-tour="esteros_ibera"><img src="../imagens/ibera.png"></a>
                        <span class="tour-img-text lower-right">Esteros del Iberá</span>
                    </div>
                </div>
                <div>
                    <div class="tour-img-wrapper img_pequena left">
                        <a href="./paseo.html" data-tour="soccer"><img src="../imagens/futebol.png"></a>
                        <span class="tour-img-text lower-right">Partido de Fútbol</span>
                    </div>
                    <div class="tour-img-wrapper img_pequena left">
                        <a href="./paseo.html" data-tour="beer_wine"><img src="../imagens/cerveza_vino.png"></a>
                        <span class="tour-img-text upper-right">Degustación de vino y cerveza</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="viajeros" class="row">
        <div class="col-md-4" id="imagem_Sev">
            <img src="../imagens/severine.png">
        </div>
        <div class="col-md-6" id="texto_Sev">
            <h1 id="presentation_title">Somos viajeros</h1>
            <div id="presentation_content">
                <p>Soy Séverine, crecí en los Alpes franceses.</p>
                <p>Soy muy apasionada. Mis dos pasiones principales son bailar y viajar. Son precisamente estas dos pasiones que me llevaron en Buenos Aires. Hace un tiempo ví un show de tango en Buenos Aires, me enamoré y decidí quedarme.</p>
                <p>Viajé mucho y cada vez intento de sumergirme más en la cultura del país, encontrarme con su gente, descubrir su estilo de vida, sus costumbres, etc..</p>
                <p>Por eso decidí crear mi própia empresa para transmitir mis pasiones, permitir a los viajeros también de sumergirse en este hermoso país, salir de los circuitos turísticos para ir al encuentro con su gente y descubrir la riqueza de la cultura argentina.</p>
            </div>
        </div>
    </div>
    
    <div id="contato" class="row">
        <div class="col-md-offset-2 col-md-8" id="fundo_contato">
            <div class="col-md-4" id="texto_contato">
                <img src="../imagens/logo.png">
                <div>
                <ul>
                    <li><img src="../imagens/telefone.png"> +54 9 11 2681 7297</li>
                    <li><img src="../imagens/email.png"> infotourf@gmail.com</li>
                    <li><img src="../imagens/facebook.png"> fb/TourF</li>
                </ul>
            	</div>
            </div>
            <div class="col-md-8" id="contact_form">
                <h1 id="contact_us">¡Contactenos!</h1>
                <p id="contact_sub">Y vení a disfrutar de esta bella cuidad.</p>
                <form >
                    <input class="col-md-12" id="contact_name" placeholder="Nombre *" type="text">
                    <input class="col-md-12" id="contact_email" placeholder="E-mail *" type="email">
                    <textarea class="col-md-12" id="contact_message" placeholder="Mensaje *"></textarea>
                    <button class="submit" id="contact_send">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
    
    <div id="footer" class="col-md-12 ">
        <div class="left">
            <h6>
                Designed  and developed with &nbsp; ♥ &nbsp; by 
                <strong><a href="https://issuu.com/jordanalop/docs/hellodesign_jordanalopes"> &nbsp;Jordana Lopes</a></strong> 
                 and 
                <strong><a href="https://github.com/gcbounous"> &nbsp;Gabriel Caê</a></strong>.
            </h6>
        </div>
    </div>

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/content/index_content.js"></script>
    <script src="../js/tourF.js"></script>
           
</body>

</html>
