<!doctype html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TOUR F Buenos Aires</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,700|Ubuntu:400,500,700|Viga" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/tourF.css" rel="stylesheet" type="text/css">
    
</head>

<body>
    <div id="background">

        <div id="holder">           
            <div id="quadrado">
                <div id="cover">
                    <img src="../imagens/logo.png">
                    <h2>¡Viví lo mejor <br/> de la ciudad!</h2>
                </div>
            </div>
        </div>

    </div>        

    <div class="col-md-12" id="menu">
        <ul id="texto_menu">
            <li><a href="#buenosAires">Vení a Buenos Aires</a></li>
            <li><a href="#paseosMain">Tours y Paseos</a></li>
            <li><a href="#viajeros">Quién Somos</a></li>
            <li><a href="#contato">Contacto</a></li>
            <li id="idioma" class="dropdown">
                <a href="#"><img src="../imagens/ES.png"> ES</a>
                <div class="dropdown-content">
                  <a href="#"><img src="../imagens/FR.png"> FR</a>
                  <a href="#"><img src="../imagens/EN.png"> EN</a>
                </div>
            </li>
        </ul>
    </div>

    <div id="buenosAires" class="row">
        <div class="col-md-6" id="texto_BA">
            <h1>Una ciudad, mil encantos</h1>
            <p>Si quieren descubrir las orígenes del tango durante una cena-show en un lugar histórico, sentir la pasión que conquista a los hinchas las noches de partido en la Bombonera, descubrir los bares secretos de Buenos Aires, aprender a cocinar empanadas, alquilar un bote a pedal al atardecer en el bosque de Palermo, probar una de las numerosas cervezas artesanales argentinas, saborear un fernet con coca en un bar de Palermo antes de salir a un boliche a bailar, ver un concierto en la calle los domingos en el mercado de San Telmo, bailar tango en una de las 150 milongas de la ciudad, descubrir los edifícios de estilo francés de 8 pisos en Recoleta, viajar en el tiempo recorriendo los túneles sobre tierra en San Telmo, buscar el mausoleo de Eva Perón en el cementerio de Recoleta, ir al concierto de Fuerza Bruta, observar los ejecutivos atravesando Puerto Madero en taxi lancha al final del día, probar un vino argentino acompañado de tapas, etc...</p>
            <p>Buenos Aires te encantará.</p>
        </div>
        <div class="col-md-4" id="imagem_BA">
            <img src="../imagens/ba.png" width="528" height="459">
        </div>
    </div>
    
    <div id="paseosMain" class="row">
        <h1>Nuestros tours y paseos</h1>
        <div id="paseos">
            <div>
                <div class="left">
                    <img class="img_grande" src="../imagens/city_tour.png">
                </div>
                <div>
                    <img class="img_pequena" src="../imagens/dia_campo.png">
                    <img class="img_pequena" src="../imagens/delta_tigre.png">
                </div>
                <div>
                    <img class="img_pequena" src="../imagens/vino.png">
                    <img class="img_pequena" src="../imagens/tango_class.png">
                </div>
            </div>
            <div>
                <div class="right">
                    <img class="img_grande" src="../imagens/tango_show.png">
                </div>
                <div>
                    <img class="img_pequena" src="../imagens/uruguay.png">
                    <img class="img_pequena" src="../imagens/esteros_ibera.png">
                </div>
                <div>
                    <img class="img_pequena"  src="../imagens/futebol.png">
                    <img class="img_pequena"  src="../imagens/cerveza.png">
                </div>
            </div>
        </div>
    </div>
    
    <div id="viajeros" class="row">
        <div class="col-md-4" id="imagem_Sev">
            <img src="../imagens/severine.png">
        </div>
        <div class="col-md-6" id="texto_Sev">
            <h1>Somos viajeros</h1>
            <p>Soy Séverine, crecí en los Alpes franceses.</p>
            <p>Soy muy apasionada. Mis dos pasiones principales son bailar y viajar. Son precisamente estas dos pasiones que me llevaron en Buenos Aires. Hace un tiempo vì un show de tango en Buenos Aires, me enamoré y decidi quedarme.</p>
            <p>Viajé mucho y cada vez intento de sumergirme más en la cultura del país, encontrarme con su gente, descubrir su estilo de vida, sus costumbres, etc..</p>
            <p>Por eso decidí crear mi própia empresa para transmitir mis pasiones, permitir a los viajeros también de sumergirse en este hermoso país, salir de los circuitos turísticos para ir al encuentro con su gente y descubrir la riqueza de la cultura argentina.</p>
        </div>
    </div>
    
    <div id="contato" class="row">
        <div class="col-md-offset-2 col-md-8" id="fundo_contato">
            <div class="col-md-4" id="texto_contato">
                <img src="../imagens/logo.png">
                <ul>
                    <li><img src="../imagens/telefone.png"> +54 9 11 2681 7297</li>
                    <li><img src="../imagens/email.png"> infotourf@gmail.com</li>
                    <li><img src="../imagens/facebook.png"> fb/TourF</li>
                </ul>
            </div>
            <div class="col-md-8" id="formulario">
                <h1>¡Contactenos!</h1>
                <p>Y vení a disfrutar de esta bella cuidad.</p>
                <form action="">
                    <!-- APRENDER ACTIONS !-->
                    <input placeholder="NOMBRE" type="text"><br>
                    <input placeholder="E-MAIL" type="email"><br>
                    <textarea placeholder="MENSAJE"></textarea><br>
                    <input value="ENVIAR" type="submit"><br>
                </form>
            </div>
        </div>
    </div>
    
    <div id="jojo" class="col-md-12">
        <div id="texto_jojo">
            <h6>Designed with love by <strong><a href="https://issuu.com/jordanalop/docs/hellodesign_jordanalopes">Jordana Lopes</a></strong>.</h6>
        </div>
    </div>

           
</body>

</html>
